<div class="dMapFrame">
    <form id="fContact">
        <a class="aMin fa fa-minus-square-o" title="Thu nhỏ"></a>
        <div class="dMin">
            <input type="text" id="iName" placeholder="Tên đầy đủ" name="name"/>
            <input type="email" id="iEmail" placeholder="Email" name="email"/>
            <input type="number" id="iPhone" placeholder="Số điện thoại" name="phone"/>
        </div>
        <input type="text" id="iAddress" name="address" placeholder="Điạ chỉ"/>
        <div class="dAddress"></div>
        <div class="dMin">
            <textarea id="iDetail" name="detail" placeholder="Chi tiết"></textarea>
            <input class="i_submit" type="button" value="Gửi">
        </div>
    </form>
    <div id="type-selector" class="controls"><input type="radio" name="type" id="changetype-address" checked="checked"></div>
    <div id="map"></div>
</div>