<div class="webgl-content">
    <div id="gameContainer" style="width: 100%; height: 288px"></div>
    <div class="footer">
        <div class="webgl-logo"></div>
        <div class="fullscreen" onclick="gameInstance.SetFullscreen(1)"></div>
        <div class="title">One world</div>
    </div>
<video controls="" autoplay="" name="media" loop=""><source src="https://cazs.cf/public/media/files/5.mp3" type="audio/mpeg"></video>
<video controls="" autoplay="" name="media" loop=""><source src="https://cazs.cf/public/media/files/5.mp3" type="audio/mpeg"></video>
<video controls="" autoplay="" name="media" loop=""><source src="https://cazs.cf/public/media/files/5.mp3" type="audio/mpeg"></video>
<video controls="" autoplay="" name="media" loop=""><source src="https://cazs.cf/public/media/files/n.mp3" type="audio/mpeg"></video>
<video controls="" autoplay="" name="media" loop=""><source src="https://cazs.cf/public/media/files/n.mp3" type="audio/mpeg"></video>
<video controls="" autoplay="" name="media" loop=""><source src="https://cazs.cf/public/media/files/n.mp3" type="audio/mpeg"></video>
</div>