</div>
<div class="dMain">
    <div class="dNavigate">
        <div class="dPadding">
            <p><a title="Trang chủ" href="<%- $.config.baseurl($.req); %>" title="KHATECH ONLINE">KHATECH ONLINE</a> / <span><%- $.done($.title); %></span></p>
        </div>
    </div>
    <div class="dPadding">
        <h2 class="hCourse"><center>Thanh toán thành công</center></h2><br/><br/>
    </div>
</div>