<div class="dFrame" id="dFrame">
    <% include Partial/sell.ejs %>
    <% include Partial/content.ejs %>
    <% include Partial/import.ejs %>
    <% include Partial/report.ejs %>
    <% include Partial/customer.ejs %>
    <% include Partial/imgs.ejs %>
    <% include Partial/audios.ejs %>
    <% include Partial/videos.ejs %>
    <% include Partial/friends.ejs %>
    <% include Partial/user.ejs %>
    <% include Partial/main.ejs %>
    <% include Partial/store.ejs %>
    <% include Partial/setting.ejs %>
    <div class="dBgAction"></div>
</div>