<div class="dBanner">
    <div class="dItems">
        <%
            $.each(terms[50].imgs, function(k, v){
                %>
                    <%- '<img src="'+v+'" alt="kinhthanh"/>'; %>
                <%
            });
        %>
    </div>
    <span class="bgBanner"></span>
    <a style="display:none" class="aPrevious" title="Previous"><img src="<%- $.config.skin; %>/btn-previous.png" alt=""/></a>
    <a style="display:none" class="aNext" title="Next"><img src="<%- $.config.skin; %>/btn-next.png" alt=""/></a>
</div>