<div class="dMain">
    <h2 class="hCourse"><%- $.data[0].title; %></h2>
    <div class="dContent">
        <%- $.data[0].detail; %>
    </div>
    <a class="aRegi" title="Đăng ký khóa học" href="<%- $.config.baseurl($.req)+'/dang-ky/'+$.data[0].path; %>">Đăng ký khóa học</a>
</div>