    </div>
    <div class="dMain">
        <div class="dPadding">
            <% include Partial/sidebar.ejs %>
            <div class="dContentInfo">
                <h2 class="hNoMgBt">Kích hoạt khóa học</h2>
                <hr size="1" width="100%" color="#dedede" />
                <form id="fActive" class="fActive" method="post">
                    <label for="iActive">Nhập mã kích hoạt mà bạn nhận được vào ô bên dưới</label>
                    <input type="text" name="code" id="iActive" class="iActive" />
                    <a class="aActive">Kích hoạt</a>
                </form>
            </div>
        </div>
    </div>
</div>