<div class="dMain">
    <div class="dAddCourse">
        <form method="post" id="iAddCourse">
            <h2>Đăng ký khóa học<br/><span><%- $.data[0].title; %></span></h2>
            <p>* Vui lòng điền đầy đủ thông tin</p>
            <div class="dLn">
                <input type="text" name="name" class="iName" placeholder="Họ và tên của bạn"/>
            </div>
            <div class="dLn">
                <input type="text" name="email" class="iEmail" placeholder="Email của bạn"/>
            </div>
            <div class="dLn">
                <input type="text" name="phone" class="iPhone" placeholder="Số điện thoại của bạn"/>
            </div>
            <div class="dLn">
                <textarea class="iMore" name="more" placeholder="Thông tin thêm"></textarea>
            </div>
            <span class="sSuccess">Đã đăng ký tài khoản khóa học, mời bạn thanh toán để có thể tham gia khóa học ngay.</span>
            <a title="Đăng ký" class="aAddCourse">Đăng ký</a>
        </form>
    </div>
</div>