    </div>
    <div class="dMain">
        <div class="dPadding">
            <% include Partial/sidebar.ejs %>
            <div class="dContentInfo">
                <h2 class="hNoMgBt">Thảo luận của tôi</h2>
                <hr size="1" width="100%" color="#dedede" />
                <div class="dComments">
                    <center class="cItems"></center>
                </div>
                <center class="cPages"></center>
            </div>
        </div>
    </div>
</div>