<div class="dMain">
    <form id="fUserAction">
        <h2>Quên mật khẩu</h2>
        <div class="dLine">
            <label for="email"><img src="<%- $.config.skin; %>/email-icon.png"/></label>
            <input type="email" name="email" id="iEmail" placeholder="Email của bạn"/>
        </div>
        <a class="aUserAtvBtn aUserForgot">Gửi mật khẩu đến email</a>
    </form>
</div>