    </div>
    <div class="dMain">
        <div class="dPadding">
            <% include Partial/sidebar.ejs %>
            <div class="dContentInfo">
                <h2 class="hNoMgBt">Quà tặng</h2>
                <hr size="1" width="100%" color="#dedede" />
                <center class="cItems"></center>
            </div>
        </div>
    </div>
</div>