    </div>
    <div class="dMain">
        <div class="dPadding">
            <% include Partial/sidebar.ejs %>
            <div class="dContentInfo">
                <div class="dControlCat">
                    <div>
                        <a class="aActStatus">TẤT CẢ KHÓA HỌC</a>
                        <a>CHƯA HỌC</a>
                        <a>ĐANG HỌC</a>
                    </div>
                    <div class="dShape">
                        <a class="aSelect" title=""><img src="<%- $.config.skin; %>/shape-icon1.png" alt="khatech"/><img src="<%- $.config.skin; %>/shape-icon1-act.png" alt="khatech"/></a>
                        <a title=""><img src="<%- $.config.skin; %>/shape-icon2.png" alt="khatech"/><img src="<%- $.config.skin; %>/shape-icon2-act.png" alt="khatech"/></a>
                        <span>TẤT CẢ: <span></span> KHÓA HỌC</span>
                    </div>
                </div>
                <div class="dUserCourse">
                    <center class="cItems"></center>
                    <center class="cPages"></center>
                </div>
            </div>
        </div>
    </div>
</div>