<div class="dMain">
    <form id="fUserAction">
        <h2>Đăng nhập</h2>
        <div class="dLine">
            <label for="email"><img src="<%- $.config.skin; %>/email-icon.png"/></label>
            <input type="email" name="email" id="iEmail" placeholder="Email của bạn"/>
        </div>
        <div class="dLine">
            <label for="pw"><img src="<%- $.config.skin; %>/pw-icon.png"/></label>
            <input type="password" name="pw" id="iPw" placeholder="Mật khẩu"/>
        </div>
        <div class="dLogOn">
            <label><input type="checkbox" id="iRemember"/> Ghi nhớ mật khẩu</label>
            <a href="<%- $.config.baseurl($.req); %>/quen-mat-khau">Quên mật khẩu?</a>
        </div>
        <a class="aUserAtvBtn aUserLogin">Đăng nhập</a>
        <span>- hoặc -</span>
        <a class="aLogFace">Đăng nhập bằng Facebook</a>
    </form>
</div>