<div class="dMain">
    <form id="fUserAction">
        <h2>Đăng ký</h2>
        <div class="dLine">
            <label for="email"><img src="<%- $.config.skin; %>/email-icon.png"/></label>
            <input type="email" name="email" id="iEmail" placeholder="Email của bạn"/>
        </div>
        <div class="dLine">
            <label for="pw"><img src="<%- $.config.skin; %>/pw-icon.png"/></label>
            <input type="password" name="pw" id="iPw" placeholder="Mật khẩu"/>
        </div>
        <div class="dLine">
            <label for="name"><img src="<%- $.config.skin; %>/name-icon.png"/></label>
            <input type="text" name="name" id="iName" placeholder="Họ tên"/>
        </div>
        <div class="dLine">
            <label for="phone"><img src="<%- $.config.skin; %>/phone-icon.png"/></label>
            <input type="number" name="phone" id="iPhone" placeholder="Số điện thoại"/>
        </div>
        <a class="aUserAtvBtn aUserRegister">Đăng ký</a>
        <span>- hoặc -</span>
        <a class="aLogFace"><i class="fa fa-facebook" aria-hidden="true"></i> Đăng nhập bằng Facebook</a>
    </form>
</div>