<div class="dFrame">
    <div class="dBoardAction dBoardWebUser dShow">
        <div class="dFramePng">
            <form method="post" id="fWebRegister">
                <label for="iWebaddress" class="error lForm">Ghi địa chỉ web - tên miền</label>
                <input type="text" id="iWebaddress" placeholder="diachiweb.net" name="webaddress"/>
                <label for="iWebaddress" generated="true" style="display: none; text-decoration: underline" class="error">Mời bạn nhập địa chỉ web</label></br>
                <label for="iWebaddress" class="error lForm">Xóa và thay thế cài đặt namesevers thành:</label></br>
                <label for="iWebaddress" class="error lForm">NS1: <b>kanye.ns.cloudflare.com</b></label>
                <label for="iWebaddress" class="error lForm">NS2: <b>lucy.ns.cloudflare.com</b></label></br>
                <label for="iWebaddress" class="error lForm">Cài đặt ip <b>103.74.121.5</b> nếu cần</label></br>
                <label for="iWebaddress" class="error lForm">Chi phí lập web thương hiệu riêng là: 600.000 VNĐ</label>
                <label for="iWebaddress" class="error lForm">+ Tặng kèm theo 300.000 CoinS trị giá 300.000 VNĐ</label></br>
                <label for="iWebaddress" class="error lForm">Email hỗ trợ: webs@cazs.cf</label>
                <label for="iWebaddress" class="error lForm">Sđt & Zalo: 0586578979</label></br>
                <label for="iWebaddress" style="display: none; text-decoration: underline" class="error lError"></label>
                <span class="sBtn"><input class="iSent" type="button" title="<%- $.trans.gettext('Register'); %>" value="<%- $.trans.gettext('Register'); %>"/></span>
            </form>
        </div>
    </div>
    <div class="dBgAction"></div>
</div>