<div class="dBanner">
  <a class="aBackBanner">
    <i class="fas fa-caret-left"></i>
  </a>
  <div class="dFrameHidden">
    <div class="dFrameScroll">
      <div class="dFrameItem">
        <%
            if(banner.imgs!=undefined)
                $.each(banner.imgs, function(k, v){
                  %>
                    <div class="dItems">
                      <div class="dBannerItem">
                        <img presrc="<%- v+'?ver=1.3'; %>" alt="<%- banner.path; %>"/>
                      </div>
                    </div>
                  <%
                });
        %>
      </div>
    </div>
  </div>
  <a class="aNextBanner">
    <i class="fas fa-caret-right"></i>
  </a>
</div>