<div class="dBoardAction dBoardSell">
    <div class="dFramePng">
        <div class="dProducts">
            <div></div>
        </div>
        <div class="dContentSell">
            <div class="dCategory">
                <div class="dProductSell">
                    <p class="pFinal"><label class="lSellCode">Mã hóa đơn: <input class="iOpts" type="text" value=""/></label><span></span></p><br/>
                    <p class="pFinal"><select class="sCustomer"></select></p>
                </div>
            </div>
            <form method="post" id="fSell"></form><br/>
            <div class="dCategory">
                <p class="pTotal  pFinal">Tổng giá: <span>0</span>Đ</p>
            </div>
            <div class="dCategory">
                <p class="pFinal"><label>Giảm giá: <input class="iPromotionVal iOpts" type="text" value="0"/></label> <select class="iPromotion iOpts2"><option value="-">Đ</option><option value="%">%</option></select></p>
            </div>
            <div class="dCategory">
                <p class="pTotal  pFinal">Tổng cộng: <span>0</span>Đ</p>
            </div><br/>
        </div>
    </div>
</div>