<div class="dBoardAction dBoardAudios">
    <div class="dFramePng">
        <form method="post" id="fAudios" class="fAudios"></form>
        <center><span class="sBtnMore" type="audio"><input type="button" title="<%- $.trans.gettext('More contents'); %>" value="<%- $.trans.gettext('More contents'); %>"/></span></center>
    </div>
</div>
<div class="dViewAudio" time="1">
    <a class="aEditAudio fa fa-check" title="<%- $.trans.gettext('Apply'); %>"></a>
    <a class="aCloseAudio fa fa-times" title="<%- $.trans.gettext('Hide'); %>"></a>
    <div>
        <div class="dPlayer" playing="0" time="1" ready="0">
            <form method="post" id="fSongInfo">
                <textarea class="tSongTitle"></textarea>
                <input class="iCreatedSong" type="text" maxlength="19">
                <div>
                    <label>0</label>
                    <input class="iSongTime" type="text" value="0">
                </div>
            </form>
            <div class="dSeek">
                <div><span></span></div>
            </div>
            <div class="dControlPlayer">
                <a class="aPrevList fas fa-backward"></a>
                <a class="aPlayList fas fa-play"></a>
                <a class="aNextList fas fa-forward"></a>
            </div>
            <div class="dVolume">
                <div><span></span></div>
            </div>
        </div>
    </div>
</div>