<div class="dBoardAction dBoardFriends">
    <div class="dFramePng">
        <form method="post" id="fFriends" class="fFriends"></form>
        <center><span class="sBtnMore" type="messenges"><input type="button" title="<%- $.trans.gettext('More contents'); %>" value="<%- $.trans.gettext('More contents'); %>"/></span></center>
    </div>
</div>
<div class="dBoardAction dBoardTalk">
    <div class="dFramePng">
        <form method="post" id="fTalk" class="fTalk">
            <input class="iChatRers" type="hidden" value=""/>
            <div class="dChatText"></div>
            <div class="dConversation">
                <div class="dTalkBg"></div>
                <div class="dTalkDetail">
                    <div></div>
                </div>
            </div>
            <div class="dTalkControl">
                <div class="dWriterControl">
                    <div class="dWriterBg"></div>
                </div>
            </div>
        </form>
    </div>
</div>