<div class="dBoardAction dBoardVideos">
    <div class="dFramePng">
        <form method="post" id="fVideos" class="fVideos"></form>
        <center><span class="sBtnMore" type="video"><input type="button" title="<%- $.trans.gettext('More contents'); %>" value="<%- $.trans.gettext('More contents'); %>"/></span></center>
    </div>
</div>
<div class="dBgVideo"></div>
<div class="dViewVideo" time="1">
    <a class="aCloseVideo fa fa-times" title="<%- $.trans.gettext('Hide'); %>"></a>
    <div></div>
</div>