<div class="d_frame_nomal">
    <div class="d_banner">
        <a class="a_prev_banner" title="Trước."><img class="lazy" data-original="<%- $.config.skin; %>/previous.png" alt="prev"/></a>
        <div class="d_item_banner">
            <img src="<%- $.config.skin; %>/2.jpg" alt="banner"/>
            <span class="s_title_item2 s_title_item_frame"><h2>Thiết kế website chuyên nghiệp, chất lượng.</h2></span>
            <span class="s_item2_1 s_item_frame">Xử lý và hiển thị tối ưu nội dung trang web</span>
            <span class="s_item2_2 s_item_frame">trên các trình duyệt điện thoại và máy tính bảng,</span>
            <span class="s_item2_3 s_item_frame">và tất cả trình duyệt phổ biến hiện nay.</span>
        </div><!--slide2-->
        <div class="d_item_banner">
            <img src="<%- $.config.skin; %>/1.png" alt="banner"/>
            <span class="s_title_item1 s_title_item_frame">Thiết kế website tiêu chuẩn.</span>
            <span class="s_item1_1 s_item_frame">Xử lý và hiển thị chuẩn nội dung trang web</span>
            <span class="s_item1_2 s_item_frame">trên các trình duyệt phiên bản cũ</span>
            <span class="s_item1_3 s_item_frame">và các trình duyệt phổ biến hiện nay.</span>
        </div><!--slide1-->
        <a class="a_next_banner" title="Sau."><img class="lazy" data-original="<%- $.config.skin; %>/next.png" alt="next"/></a>
    </div>
</div>