<div class="dClassesContrl dClassesContrlMenu">
    <a class="aGamerNews" title="Bài viết">Bài viết</a>
    <a class="aGamerAddress" title="Địa chỉ">Địa chỉ</a>
    <a class="aGamerPlay" title="Game">Game</a>
    <a class="aWebRegister" title="Lập web">Lập web</a>
    <a href="<%- $.baseurls(req); %>/admin" title="Tài khoản">Tài khoản</a>
</div>